@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.background {
  display: flex;
  flex-direction: column; /* stack vertically */
  align-items: center; /* center horizontally */
  justify-content: center; /* center vertically */
  height: 100vh; /* full height for proper centering */
}

.heading {
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: clamp(1rem, 2vw + 1rem, 3rem);
  font-weight: 500;
  margin-bottom: clamp(-4.5rem, -4vw, -3.3rem);
  text-align: center;
  letter-spacing: -0.08rem;

  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 1s ease-out forwards;
}