.message {
    color: white;
}

.user-message {
    text-align: right;
    align-self: flex-end;
    color: white;
    border-bottom-right-radius: 4px;
}

.bot-message {

    align-self: flex-start;
    color: #efff0b;
    border-bottom-left-radius: 4px;
}